* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e6c6b7;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #bd3d00;
  --text-color: #ffe082;
  --secondary-color: #05d4fe;
}
/* Navigation Styles */
.header {
  background-color: var(--main-bg-color);
  height: 120px;
  width: 100%;
  padding: 1%;
}

nav {
  position: relative;
  width: 100%;
  height: 80%;
}
ul {
  display: flex;
  float: right;
  list-style: none;
  width: fit-content;

}

li {
  display: inline-block;
  margin-left: 10px;
}
li a {
  text-decoration: none;
  color: lightcyan;
  font-size: 2rem;
}

li a:hover {
  color: var(--text-color);
  transition: 3ms ease;
}

/* logo */
#logo {
  position: relative;
  background-color: #d9cfca;
  width: fit-content;
  top: 30%;
  border-radius: 10px;
  padding: 2px 20px;
  font-size: 2em;
}
span {
  color: #75a6af;
}

/* Hero image section Styling */
.hero-image {
  height: 700px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://source.unsplash.com/random/?dog/');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
}

/* Contact Section */
.contact {
  margin-top: 40px;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f8a782;
  border-radius: 20px;
  margin-bottom: 100px;
}
.contact h3 {
  font-size: 30px;
  color: #bd3d00;
  margin-bottom: 10px;
}
.form {
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: 20px auto;
  font-size: 24px;
  background-color: #75a6af;
  padding: 20px;
  border-radius: 20px;
}
input {
  padding: 10px;
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
}
/* Footer Section  */
footer {
  background-color: var(--main-bg-color);
  height: 120px;
  width: 100vw;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7efef;
}
footer .small {
  opacity: 0.5;
}
